body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  background: #F5F6F8;
  background: #666;
}
.header {
  background-color: #703FCE;
  width: 100%;
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
}
#header-links {
  height: 58px;
  display: flex;
  color: white;
  font-size: 15px;
  text-decoration: none;
  justify-content: center;
  min-width: 90px;
  font-family: 'Nunito', sans-serif;
}
#header-text {
  margin-top: 25px;
}
#header-image {
  padding-right: 8px;
  margin-top: 10px;
  width: 20%;
}
.search-input {
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  min-width: 200px;
  width: 140%;
  height: 25px;
  border: none;
  color: #885DD9;
  background: #502B97;
  border-radius: 28px;
  background-image: url("/images/magnify.png");
  background-repeat: no-repeat;
  background-position: 38% 8px;
  transition: all 0.7s;
  padding: 0 5% 0 5%;

}
::placeholder {
  color: #885DD9;
}

.input-form {
  margin-left: 12%;
  padding-right: 20px;
}

.search-input:focus {
  opacity: .8;
  background: #d6e8ff;
  outline: 0px;
}
#location {
  height: 25px;
  width: 22px;
  padding-right: 1%;
  padding-left: 10%;
}
#profile-photo {
  padding-left: 10%;
}
.button {
  border-radius: 30px;
  height: 27px;
  min-width: 77px;
  background: #FFF;
  color: #8963A0;
  font-family: 'Nunito', sans-serif;
  font-size: 90%;
  margin-right: 70px;
  margin-left: 18px;
  border-style: none;
}
.button:active {
  outline: 0px;
}

/* M E S S A G E S */

.Message {
  width: 100%;
  background: #FFFFFF;
}
.message-grid {
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom: 20px;
}

#message-item {

}

#message-body {
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  margin-left: 55px;
  margin-top: -50px;
  padding-bottom: 20%;
}

#message-photo {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
#message-photo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}