body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-top: 1px solid #D8D8D8;
  opacity: .5;
}

#main {
  background: #F5F6F8;
}
.header {
  background-color: #703FCE;
  width: 100%;
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center;
}
#header-links {
  height: 58px;
  display: flex;
  color: white;
  font-size: 15px;
  text-decoration: none;
  justify-content: center;
  min-width: 90px;
  font-family: 'Nunito', sans-serif;
}
#header-text {
  margin-top: 25px;
}
#header-links img {
  padding-right: 8px;
  margin-top: 10px;
  width: 20%;
}
#search-input {
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  min-width: 200px;
  width: 140%;
  height: 25px;
  border: none;
  color: #885DD9;
  background: #502B97;
  border-radius: 28px;
  background-image: url("/images/magnify.png");
  background-repeat: no-repeat;
  background-position: 38% 8px;
  transition: all 0.7s;
  padding: 0 5% 0 5%;
}
input[id="search-input"]::placeholder {
  color: #885DD9;
}

.input-form {
  margin-left: 12%;
  padding-right: 20px;
}

.search-input:focus {
  opacity: .8;
  background: #d6e8ff;
  outline: 0px;
}
#location {
  height: 25px;
  width: 22px;
  padding-right: 1%;
  padding-left: 10%;
}
#profile-photo {
  padding-left: 10%;
}
.button {
  border-radius: 30px;
  height: 27px;
  min-width: 77px;
  background: #FFF;
  color: #8963A0;
  font-family: 'Nunito', sans-serif;
  font-size: 90%;
  margin-right: 70px;
  margin-left: 18px;
  border-style: none;
}
.button:active {
  outline: 0px;
}


/* S T A R T  C O N V O */

.start-body {
  display: flex;
  min-width: 230px;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

}
#start-photo {
  padding-right: 15px;
}
#start-input {
  width: 595px;
  height: 29px;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
}
#start-input:focus {
  outline: none;
}

input[id="start-input"]::placeholder {
  color: #A4A4B3;
}

/* M E S S A G E S */

.Message {
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
}
.message-grid {
  color: #4d4d4d;
  min-width: 230px;
  max-width: 650px;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.topicdate {
  font-family: 'Nunito', sans-serif;
  color: #A4A4B3;
  padding: 10px;
  padding-left: 15px;
  font-size: 12px;
}

#message-item {
  margin-left: 20px;
  padding-bottom: 20px;
}

#message-photo {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

}
#message-photo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}
#message-body {
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-left: 55px;
  margin-top: -50px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 80%;
}
#message-author {
  display: flex;
  flex: row;
  font-family: 'Nunito', sans-serif;
  color: #A4A4B3;
  font-size: 13px;
  margin-left: 55px;
}
#message-author a {
  color: #A4A4B3;
  font-weight: 700;
  text-decoration: none;
}
#message-comment-photo {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
}
#message-comment-photo img {
  display: inline;
  margin: 0 auto;
  object-fit: cover;
}
#message-reply {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin-left: 55px;
  margin-top: -50px;
  padding-top: 25px;
  width: 80%;
}
#message-reply-author {
  display: flex;
  flex: row;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  margin-left: 20px;
}
#message-reply-author a {
  color: #A4A4B3;
  font-weight: 700;
  text-decoration: none;
}
#message-reply-body {
  font-family: 'Nunito', sans-serif;
  color: #A4A4B3;
  font-size: 12px;
  margin-left: 20px;
}
#message-reply-photo {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 25px;
}
#message-reply-photo img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.react-comment {
  display: flex;
  flex: row;
  justify-content: center;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  color: #A4A4B3;
  font-weight: 700;
}
.react-comment img {
  width: auto;
  height: 40px;
}
#react {
  margin-top: 5px;
  margin-right: 25%;
}
#comment {
  margin-top: 5px;
}



/* M O D A L */

/* Whiteout Background */
.Modal-Backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(72, 76, 76, 0.5);
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto;
}

/* Modal Image Display */
.Modal {
  display: fixed;
  margin: 0px auto;
  background: white;
  min-width: 230px;
  width: 620px;
  border-radius: 5px;
  min-height: 80px;
  margin-top: -10px;
  padding-left: 15px;
}

.modal-top {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  color: #A4A4B3;

}
.modal-top img{
  height: 25px;
  width: auto;
}
#question-name {
  padding-left: 18px;
}
#add-group {
  color: #703FCE;
  text-decoration: none;
  padding-left: 10px;
}
#modal-button {
  color: #A4A4B3;
  margin-left: 370px;
  margin-top: -5px;
  margin-bottom: 13px;
  border-style: none;
  border-width: 0px;
  font-size: 20px;
  opacity: .8;
  transform: scale(1, .78);
}
#modal-button:hover {
  cursor: pointer;
}
#question-input {
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  width: 520px;
  height: 29px;
  border-radius: 5px;
  border-style: none;
  margin-left: 45px;
  color: #A4A4B3;
}
#question-input:focus {
  outline: none;
}

.question-input-form {
  display: flex;
  padding-bottom: 20px;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  width: 520px;
  height: 29px;
  border-radius: 5px;
  border-style: none;
  margin-left: 45px;
  color: #A4A4B3;
}
#question-form {
  width: 520px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  margin-left: 5px;
  color: #A4A4B3;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
}
#question-form:focus {
  outline: none;
}
#right-arrow {
  width: 27px;
  height: 25px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  background-color: #777;
  opacity: .3;
}
#arrow {
  margin-left: 9px;
  margin-top: 2.4px;
}